/* ------------------------------------------ FONTS ------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* ------------------------------------------ BODY ------------------------------------------ */
body {
    /* prevents eye-strain when reloading the page :) */
    background: #1c1210;

    /* Background Image*/
    /* background-image: url("images/duke_shop.jpg"); */
    /* background-image: url("images/shop_UI.jpg"); */
    /* background-image: url("images/shop_preview.jpg"); */
    background-image: url("images/background.png");
    background-size: cover;

    /* DISPLAY GRID  */
    display: grid;
    height: 100vh;
    /* header / main / footer */
    grid-template-rows: 16% 1fr 15%;

    /* MINIMUM SIZE */
    /* min-width: 1600px;
    min-height: 850px; */

    /* OVERFLOW */
    overflow: hidden;

    /* text, temp */
    color: whitesmoke;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* ------------------------------------ MAIN THREE ROWS ------------------------------------ */
/* 1. HEADER */
header {
    /* DEBUG COLOURS  */
    /* background: rgba(128, 0, 128, 0.5); */

    /* TEXT  */
    text-align: center;
    font-family: 'Cormorant', Times, serif;
    font-family: 'Playfair Display';
    color: goldenrod;
    color: #918670;

    /* GRID */
    display: grid;
    grid-template-columns: 15.8% 1fr 15.8%;
    grid-auto-rows: 100%;

    /* aligns content inside grid items to the bottom of the item */
    align-items: end;

    /* place-items: center;
    align-items: baseline; */
}
/* 2. MAIN - container for the shop */
main {
    /* background: rgba(255, 255, 255, 0.288); */

    /* GRID LAYOUT */
    display: grid;
    /* margin left | shop | margin right */
    grid-template-columns: 10% 1fr 15.8%;
}
/* 3. FOOTER */
footer {
    /* DEBUG COLOURS  */
    /* background: rgba(0, 0, 255, 0.3); */

    display: grid;
    place-items: center;

    color: silver;
    font-family: sans-serif;

    font-size: 2.2vmin;
    /* font-stretch: extra-condensed; */

    text-shadow: 0px 2px 4px black;

}

    /* ------------------------------ HEADER SUB GRID ------------------------------ */
    /* Header H1 Text  */
    header h1 {
        /* TEXT */
        font-size: 6vmin;
        font-weight: bold;
        font-style: italic;

        margin-top: 0;
        margin-bottom: 0;

        align-content: end;
    }
    /* Header H2 Text  */
    header h2 {
        font-family: Times, serif;
        font-size: 2.3vmin;
        font-style: italic;
        font-weight: 500;

        margin-top: 0;
        margin-bottom: 1%;
    }
    /* DEBUG DIV  */
    /* header div {
        background: rgba(255, 0, 0, 0.452);
        width: 100%;

        border: 1px black solid;
    } */
    /* Currency CounterR */
    header .currency {
        /* TEXT  */
        color: silver;
        font-family: sans-serif;
        font-size: 2.7vmin;
        font-stretch: extra-condensed;
        text-align: left;

        /* POSITION  */
        float: left;
        

        margin-bottom: 10%;
    }
    header .currency small {
        font-size: 70%;
        font-weight: 600;
        color: gray;
    }
    /* Coin icon  */
    header .currency img {
        height: 3vmin;

        display: block;
        float: left;
        margin-left: 5%;
        margin-right: 15%;
    }

    /* ------------------------------ MAIN SUB GRID ------------------------------ */
/* 2.1 & 2.3. Left & Right Margins */
.main-margin {
    /* DEBUG COLOURS  */
    /* background: rgba(255, 217, 0, 0.3); */
    color: green;
    /* CENTERING */
    display: grid;
    place-items: center;

}
/* 2.2. The Shop */
.main-shop {
    /* GRID LAYOUT */
    display: grid;
    /* catalogue | stats preview */
    grid-template-columns: 52.5% 1fr;
    
    /* text temp  */
    color: black;
}

            /* ------------------------ SHOP SUB GRID ------------------------------ */
            /* 1. Catalogue - the left page with the item list*/
.catalogue {
    /* DEBUG COLOURS  */
    /* background: rgba(255, 68, 0, 0.3); */

    /* GRID LAYOUT */
    /* catalogue header | items grid | item info */
    display: grid;
    grid-template-rows: 8% 1fr 30%;
}
            /* 2. Preview */
.preview {
    /* DEBUG COLOURS  */
    /* background: rgba(100, 148, 237, 0.3); */

    /* GRID LAYOUT  */
    /* top margin | item image | item stats */
    display: grid;
    grid-template-rows: 9% 57% 34%;
}

                /* ------------------ 2.2.1. CATALOGUE SUB GRID ------------------ */
                /* 1.1. Catalogue Header  */
.cat-header {
    /* DEBUG COLOURS  */
    /* background: rgba(245, 245, 245, 0.5); */

    /* CENTERED GRID */
    display: grid;
    place-items: center;
}
                /* 1.2. Item Grid - Container for the items  */
.cat-items {
    /* DEBUG COLOURS  */
    /* background: rgba(218, 165, 32, 0.3); */

    overflow-y: auto;
    overflow-x: hidden;

    /* MARGIN : vertical ; horizontal  */
    margin: 0% 2%;
    margin-bottom: 2%;


    /* GRID LAYOUT  */
    display: grid;
    /* item | item | item | item */
    grid-template-columns: repeat(4, 23%);                          /* explicit hard-coded grid layout */
    /* grid-template-columns: repeat(auto-fill, minmax(24%, 1fr));     /* implicit adaptive grid layout */
    grid-auto-rows: 30%;
    /* grid-auto-rows: 13.5vh; */

    /* gap beetwen cols and rows */
    gap: 0.9rem;
    row-gap: 1.3rem;

}
                /* 1.3. Item Info  */
.cat-item-info {
    /* DEBUG COLOURS  */
    /* background: rgba(245, 245, 245, 0.5); */
    
    /* GRID LAYOUT */
    /* margin | info box | margin */
    display: grid;
    grid-template-columns: 7.5% 1fr 7.5%;
}

                /* --------------- 2.2.2. STATS / PREVIEW SUB GRID  --------------- */
                /* 2.1 Top Margin */
.preview-top {
    /* background: rgba(245, 245, 245, 0.5); */
}
                /* 2.2 Item Image  */
.preview-img {
    /* background: rgba(60, 0, 128, 0.3); */

    /* SIZE */
    height: 100%;
    width: 100%;

    /* CENTERING IMAGE */
    display: grid;
    place-items: center;
}
                /* 2.3 Item Stats  */
.preview-stats {
    /* background: rgba(0, 128, 0, 0.3); */

    /* GRID LAYOUT */
    /* margin | stats box | margin */
    display: grid;
    grid-template-columns: 5% 75% 20%;
}




/* ------------------ 2.2.1. CATALOGUE SUB GRID ------------------ */

/* HORITZONAL RULES */
hr {
    margin-top: 0;
    margin-bottom: 0;
}
.hr1 {
    border: 3px hsl(31, 15%, 27%) solid;
}
.hr2 {
    border: 2px hsl(31, 15%, 27%) solid;
}
.hr3 {
    /* margin-top: 3px; */
    border: 1px hsl(31, 15%, 27%) solid;
}
.hr4{
    border: 1px hsl(31, 15%, 33%) solid;
}


/* -------------------- CATALOGUE HEADER ------------------ */
/* HEADING TEXT */
.cat-header h1 {
    /* Text */
    font-family: 'Libre Caslon Text', Times, serif;
    font-size: 1.8vmin;
    font-weight: 700;
    font-style: italic;
    color: #27221c;

    /* Margin */
    margin: 0;
    margin-top: 1vmin;
}
/* LINE UNDER TEXT */
.cat-header hr {
    margin-top: -1.5vmin;
    width: 30%;
}



/* ---------------------- ITEM BOXES ---------------------- */
.item {
    /* BORDER  */
    border-radius: 1vmin;
    border: 3px hsl(31, 15%, 27%) solid;
    box-sizing: border-box;

    /* GRID LAYOUT  */
    display: grid;
    grid-template-rows: 69% 31%;

    /* vertically aligns content in items to center */
    align-items: center;

    position: relative;


    /* box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    transition: all 500ms; */
}
/* oh fuck me what the hell is going on */
.item div {
    /* DEBUG COLOURS */
    /* background: rgba(255, 0, 0, 0.452);
    border: 1px black solid; */

    width: 100%;
    height: 100%;    
}

/* ITEM IMAGE CONTAINER - for centering purposes */
.item .img-container {
    position: relative;
}
/* ITEM IMAGE */
.item .img-container img {
    /* DEBUG COLOUR */
    /* background: blue; */

    /* SIZE */
    max-height: 80%;
    max-width: 80%;

    /* POSITION - Actually fully centers the image */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    /* ANIMATIONS */
    transition: transform 250ms;
}

/* HORIZONTAL RULE */
.item hr {
    border: 1px hsl(31, 15%, 33%) solid;
    width: 90%;
    
    margin-top: 0;
    margin-bottom: 0;
}

/* The Price Text */
.item p {
    /* FONT */
    font-family: 'Libre Caslon Text', Times, serif;
    text-align: right;
    font-weight: bold;
    font-style: italic;
    color: hsl(31, 15%, 20%);

    /* SIZE - Maximum, Minimum */
    font-size: 1vw;

    /* MARGINS */
    margin-right: 1em;
    margin-top: 5%;
}

/* The Currency Icon */
.item .coin {
    /* SIZE  */
    height: 2.5vmin;

    /* LEFT-WARPED & MARGINS */
    float: left;
    margin-left: 5%;
    margin-top: 3%;
}

/* Sold Out Sign */
.item .sold-out {
    /* POSITION */
    position: absolute;
    bottom: 1;

    /* Bringing to forefront */
    z-index: 10;

    /* Size */
    width: 100%;
}



/* HOVERING OVER AN ITEM */
.item:hover {
    /* Opaque background highlight */
    background-color: rgba(255, 235, 209, 0.7);
    background: linear-gradient(rgba(254, 255, 209, 0.2), rgba(218, 200, 100, 0.2), rgba(143, 114, 76, 0.2));

    /* Text Colour */
    color: whitesmoke;

    /* em-biggen */
    /* box-shadow: rgba(2, 8, 20, 0.1) 0.5em 0.5em 0.3em, rgba(2, 8, 20, 0.08) 0.5em 0.5em 0.3em;
    transform: translateY(-3px) scale(1.05); */
}
/* Styling child objects seprately when hovering over parent object. Cool! */
.item:hover .img-container img {
    transform: scale(1.15);
}
/* ---/---/---/---/---/ ITEM BOXES ---/---/---/---/---/ */



/* ------------------ ITEM INFO ------------------ */
.cat-item-info .info-box {
    /* GRID LAYOUT */
    /* name/category | description */
    display: grid;
    grid-template-rows: 1fr 65.5%;

    /* TEXT */
    font-family: 'Libre Caslon Text', Times, serif;
    text-align: left;
    font-style: italic;
    font-weight: 700;
}
.info-box h1 {
    /* Text */
    font-size: 2.2vmin;
    font-weight: 700;
    color: #27221c;

    /* Margin */
    margin: 0;
    margin-top: 1vmin;
    /* margin-bottom: -1em; */
}
.info-box h2 {
    /* Text */
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-size: 2.2vmin;
    font-weight: 700;
    color: #3d342f;

    /* Margin */
    margin: 0;
    margin-bottom: 0.5vmin;
}
.info-box p {
    color: #27221c;
    font-size: 1.5vmin;
}
/* ---/---/---/---/---/ ITEM INFO ---/---/---/---/---/ */


/* ------------------ 2.2.2. ITEM PREVIEW SUB GRID ------------------ */
/* ------------------ Preview Image ------------------ */
.preview-img img {
    /* SIZE */
    max-height: 15vw;
    max-width: 30vw;

    transition: transform 500ms;
}
.preview-img img:hover {
    transform: scale(1.15);

    /* SHADOWS !! */
    filter: drop-shadow(5px 5px 5px #111);
    /* filter: drop-shadow(10px 10px 5px hsla(34, 36%, 43%, 0.692)); */

    /* OUTLINE!! */
    /* filter: drop-shadow(4px 4px 1px #111) 
            drop-shadow(-4px -4px 1px #111); */
}

/* ------------------ Item Stats ------------------ */
/* The box containing all the horizontal stat entries */
.preview-stats .stats-box {
    /* GRID LAYOUT */
    /* 8 evenly spaced lines */
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-rows: repeat(8, 13%);
}

/* The stat entries with all the info */
.preview-stats .stats-item {
    display: grid;
    grid-template-columns: 28% 11% 9% 51%;
}

/* .preview-stats div {
    height: 100%;
} */

/* TEXT */
.preview-stats p {
    /* TEXT */
    font-family: 'Libre Caslon Text', Times, serif;
    text-align: left;
    font-style: italic;
    font-size: 1.6vmin;
    color: silver;

    /* MARGIN */
    margin-top: 0;

    /* SHADOW */
    text-shadow: 0px 2px 2px black;
}

/* LEVEL TICK MARKS */
.preview-stats img {
    /* Aligning to the top of the dov */
    vertical-align: top;

    /* MARGIN / Gap */
    margin-right: 2px;

    /* SIZE */
    height: 1.5vmin;

    transition: transform 500ms;
}
.preview-stats img:hover {
    transform: scale(1.15);
}


/* The Double-Line seperator where the top line is thicker than the bottom one */
.double-line {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
.double-line .hr3 {
    margin-top: 3px;
}





/* CUSTOM SCROLL BAR -> https://css-tricks.com/custom-scrollbars-in-webkit/ */
::-webkit-scrollbar {
    width: 1vmin;
}
/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    background: #685e52;
    border-radius: 4px;
}
/* Hovering Over Scrollbar Handle */
::-webkit-scrollbar-thumb:hover {
    background: #35302a;
}




/* DEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDFEBUGDEBUGDEBUGBEDBUG */
.debug {
    background: rgba(255, 0, 128, 0.2);
    width: 100%;

    border: 2px black solid;
}


